In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("/content/drive/MyDrive/TestPractice/data/01_ADS_Sample_1.csv")

https://certi.multicampus.com/ie/intro/sampleTest?p_menu=MTMxMDkjTUFJTg==&p_gubun=Qw==

In [4]:
df.head()

  YEAR_MONTH  SOCIAL     TV  NEWSPAPER  SALES_AMT
0   2005-Dec   84.72  19.20      48.96      14.28
1   2006-Jan  351.48  33.96      51.84      11.52
2   2006-Feb  135.48  20.88      46.32      20.88
3   2006-Mar  116.64   1.80      36.00      11.40
4   2006-Apr  318.72  24.00       0.36      15.36

 매출금액(SALES_AMT)과 상관 정도가 가장 강한(상관계수 절대값이 가장 큰) 변수를 찾고 해당 변수와 매출금액(SALES_AMT)과의 상관계수 값을 기술하시오.

In [5]:
df2 = df.drop('YEAR_MONTH', axis = 1)

In [6]:
df2.head()

   SOCIAL     TV  NEWSPAPER  SALES_AMT
0   84.72  19.20      48.96      14.28
1  351.48  33.96      51.84      11.52
2  135.48  20.88      46.32      20.88
3  116.64   1.80      36.00      11.40
4  318.72  24.00       0.36      15.36

In [7]:
correlation_matrix = df2.corr(method='pearson')
correlation_matrix

             SOCIAL        TV  NEWSPAPER  SALES_AMT
SOCIAL     1.000000  0.081734   0.102198   0.037020
TV         0.081734  1.000000   0.280012  -0.183192
NEWSPAPER  0.102198  0.280012   1.000000   0.002282
SALES_AMT  0.037020 -0.183192   0.002282   1.000000

In [8]:
correlations = correlation_matrix['SALES_AMT']
correlations

SOCIAL       0.037020
TV          -0.183192
NEWSPAPER    0.002282
SALES_AMT    1.000000
Name: SALES_AMT, dtype: float64

 2009년 매출금액(SALES_AMT) 대비 2019년 매출금액(SALES_AMT)의 변화 정도를 확인하고자 한다. 다음 수식을 이용하여 증감률(%)을 기술하시오.

In [9]:
df3 = df.copy()

In [10]:
df3['YEAR_MONTH'] = pd.to_datetime(df3['YEAR_MONTH'], format='%Y-%b')
df3.head()

  YEAR_MONTH  SOCIAL     TV  NEWSPAPER  SALES_AMT
0 2005-12-01   84.72  19.20      48.96      14.28
1 2006-01-01  351.48  33.96      51.84      11.52
2 2006-02-01  135.48  20.88      46.32      20.88
3 2006-03-01  116.64   1.80      36.00      11.40
4 2006-04-01  318.72  24.00       0.36      15.36

In [11]:
df.head()

  YEAR_MONTH  SOCIAL     TV  NEWSPAPER  SALES_AMT
0   2005-Dec   84.72  19.20      48.96      14.28
1   2006-Jan  351.48  33.96      51.84      11.52
2   2006-Feb  135.48  20.88      46.32      20.88
3   2006-Mar  116.64   1.80      36.00      11.40
4   2006-Apr  318.72  24.00       0.36      15.36

In [12]:
sales_2009 = df3.loc[df3['YEAR_MONTH'].dt.year == 2009, 'SALES_AMT'].sum()

In [13]:
sales_2019 = df3.loc[df3['YEAR_MONTH'].dt.year == 2019, 'SALES_AMT'].sum()

In [14]:
change_rate = (sales_2019 - sales_2009) / sales_2009 * 100

In [15]:
print(round(change_rate, 3))

0.194

 2009년과 2019년의 매출금액(SALES_AMT) 평균이 통계적으로 유의한 차이가 있는지 검정하고자 한다. 적절한 검정 수행 후, 유의 확률(P-value)의 값을 기술하시오.
단, 검정 시 세운 대립 가설(H₁)은 다음과 같다.
대립 가설(H₁): 2009년과 2019년의 매출금액의 평균이 같지 않다

In [16]:
from scipy.stats import ttest_ind

In [17]:
sales_2009 = df3.loc[df3['YEAR_MONTH'].dt.year == 2009, 'SALES_AMT']
sales_2019 = df3.loc[df3['YEAR_MONTH'].dt.year == 2019, 'SALES_AMT']

In [19]:
t_stat, p_value = ttest_ind(sales_2009, sales_2019)

In [20]:
print(f"p-value is {p_value}")

p-value is 0.9913055138582367

In [21]:
round(p_value,3)

0.991